In [2]:
import mysql.connector as connector

In [10]:
connection = connector.connect(user = "root", password = "soumic1997", db = "littlelemondb")

In [38]:
cursor = connection.cursor()
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
result = cursor.fetchall()
print(result)
cursor.close()

[('bookings',), ('customers',), ('menu',), ('menuitems',), ('orderdeliverystatus',), ('orders',), ('ordersview',), ('staff',)]

True

In [40]:
cursor = connection.cursor()
columns_query = "SHOW COLUMNS FROM Customers" 
cursor.execute(columns_query)
result = cursor.fetchall()
for r in result:
    print(f"{r[0]}")
cursor.close()

CustomerID
FullName
Email
PhoneNumber

True

In [58]:
cursor = connection.cursor()
show_tables_query = "SELECT C.FUllName, C.Email, C.PhoneNumber, O.TotalCost from Customers C INNER JOIN Orders O ON C.CustomerID = O.CustomerID WHERE O.TotalCost > '60'" 
cursor.execute(show_tables_query)
result = cursor.fetchall()
for r in result:
    print(f"{r[0]} | {r[1]} | {r[2]} | ${r[3]} ")
cursor.close()

Bob Smith | bob@example.com | 987-654-3210 | $90
Charlie Reed | charlie@example.com | 555-123-4567 | $120
Ethan Carter | ethan@example.com | 333-222-1111 | $150
Alice Johnson | alice@example.com | 123-456-7890 | $80
Bob Smith | bob@example.com | 987-654-3210 | $200
Diana Wells | diana@example.com | 444-987-6543 | $180
Ethan Carter | ethan@example.com | 333-222-1111 | $220
Charlie Reed | charlie@example.com | 555-123-4567 | $175
Alice Johnson | alice@example.com | 123-456-7890 | $300

True